<!DOCTYPE html>
<html>

<head>
 <script src="server.js"></script>

  <title>Learn SEO!</title>
  <link rel="shortcut icon" href="icons/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body id="myPage">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="home.html">Learn SEO!</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="home.html">HOME</a></li>
          <li><a href="page2.html">ABOUT</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#TOPICS">TOPICS
             <span class="caret"></span></a>
             <ul class="dropdown-menu">
                <li><a href="page3.html">What is SEO?</a></li>
                <li><a href="page4.html">SEO Strategies</a></li>
                <li><a href="page5.html">Components</a></li> 
                <li><a href="page6.html">URL Canonicalization</a></li> 
              </ul>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
      </div>
  </div>
</nav>

<div id="band" class="container text-center">
<div class="container text-center">
  <br>
  <h2 style="color: black; letter-spacing: 10px; font-family: Montserrat, sans-serif; border: 2px solid black; padding: 15px;"><strong>ABOUT THIS COURSE</strong></h2>
  <br>
    <p class="text-center" style="text-align: center" color: black; letter-spacing: 2px; font-family: Century Gothic, sans-serif;"><strong><h1>Search Engine Optimization</h1></strong></p><br>
      <img src="imgs/seo.jpg">
    </a>
      <p style="font-family: courier; color: black;"><br><h3>This Specialization will teach you to optimize website content for the best possible search engine ranking. You'll learn the theory behind Google search and other search engine algorithms; you'll also build practical, real-world skills that you can apply to a career in digital marketing or online content development, including on-page and off-page optimization, optimizing for local and international audiences, conducting search-focused website audits, and aligning SEO with overall business strategies. Each course is intended to build on the skills from the previous course, thus we recommend you take the courses in the order they are listed.</h3></p>
    </div>
  </div><br><br>

  <footer class="text-center" style="background-color: #e6e6e6;  padding: 5px;">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p><b>· Copyright &copy; 2017· <br>All Rights Reserved</b></p>
</footer>

</body>
</html>