<!DOCTYPE html>
<html>

<head>
 <style>
    <script src="server.js"></script>
  </style>
  <title>IT ELECTIVE</title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body id="myPage" style="background:#808080">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="home.html">IT ELECTIVE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul <ul class="nav navbar-nav navbar-right">
          <li><a href="home.html">HOME</a></li>
          <li><a href="page2.html">ABOUT</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">ASSIGNMENTS
             <span class="caret"></span></a>
             <ul class="dropdown-menu">
                <li><a href="page3.html">Assignment 1</a></li>
                <li><a href="page4.html">Assignment 2</a></li>
                <li><a href="page5.html">Assignment 3</a></li> 
                <li><a href="page6.html">Assignment 5</a></li> 
              </ul>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
      </div>
  </div>
</nav>

        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
            <h2 style="text-align: left;">What components does SEO include?<br></h2><br>
<b>On-Page SEO includes:</b>
<ul>
<li>Incorporating selective keyword naturally into title tags, meta descriptions, heading tags, alt text, etc. </li>
<li>Blog posts and page copy that is written and optimized with quality </li>
<li>Clean and formatting page URLS </li>
<li>Optimized page load speed</li>
<li>Google authorship incorporated</li>
<li>Social sharing integration within your content</li>
<li>And much more! </li>
</ul><br>

<b>Off-Page SEO includes</b>
<ul>
<li>Creating a high quality, natural backlink profile (aka having other high quality/authoritative sites  link to your site naturally) </li>
<li>Social sharing signals</li>
<li>Social bookmarking (Stumbleupon, Reddit) </li>
<li>List goes on here too! </li>
</ul>

 </li>
 </ul>
 </div>
 </div>

</body>
</html>