<!DOCTYPE html>
<html>

<head>
 <style>
    <script src="server.js"></script>
  </style>
  <title>IT ELECTIVE</title>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body id="myPage" style="background:#808080">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="home.html">IT ELECTIVE</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul <ul class="nav navbar-nav navbar-right">
          <li><a href="home.html">HOME</a></li>
          <li><a href="page2.html">ABOUT</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">ASSIGNMENTS
             <span class="caret"></span></a>
             <ul class="dropdown-menu">
                <li><a href="page3.html">Assignment 1</a></li>
                <li><a href="page4.html">Assignment 2</a></li>
                <li><a href="page5.html">Assignment 3</a></li> 
                <li><a href="page6.html">Assignment 5</a></li> 
              </ul>
          </li>
          <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
      </div>
  </div>
</nav>

        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
<h2 style="text-align: left;">URL Canonicalization<br></h2><br>
<p style="font-family: Lucida Bright, serif" >What Is Canonicalization?<br><br>
Canonicalization is the process of choosing the best URL, typically for home pages, when there are several choices available. URL’s come in a variety of forms, each with the potential of leading to the same place but each providing technical differences. A canonical URL is the optimal, simplest and authoritative URL chosen for search engines. A canonical URL is, simply put, the URL you want search engines result to display and visitors to see.<br><br>
Why is the Canonical URL so important?<br><br>
In a world of dynamic pages where websites can generate 10s of thousands of different URLs, the task becomes that much harder.<br>
When the same content is available from two (or more) different URLs, it is called duplicate content.   Search engines like Google have decided they don’t like duplicate content and pages with duplicate content don’t rank well.<br>

<h2 style="text-align: left;">HTTPS Status Codes<br></h2><br>
<img src="imgs/400.png" width="100%" height: auto;><br><br>
<p style="font-family: Lucida Bright, serif" >HTTP status codes are standard response codes given by web site servers on the Internet. The codes help identify the cause of the problem when a web page or other resource does not load properly. The term HTTP status code is actually the common term for the HTTP status line that includes both the HTTP status code and the HTTP reason phrase. HTTP status codes are sometimes called browser error codes or internet error codes.

<h2 style="text-align: left;">Important HTML Elements<br></h2><br>
<ul>
  <li><b>Title tag</b>
  <p style="font-family: Lucida Bright, serif"><br>The title tag defines the title of the document.The title element is required in all HTML/XHTML documents and is one of the key on-page SEO elements. It is a “meta” element, meaning that it gives information about the HTML/XHTML file, but does not appear on the page to users. However, this doesn’t mean it’s not seen by users; the title tag appears on the results pages just above the URL (see below) and also appears at the top of a browser. Moz.com, the largest SEO community in the world believes that it is the single most important on-page SEO element.</p><br>
  <center><img src="imgs/title.png"></center></li><br><br>

  <li><b>Meta description tag</b>
  <p style="font-family: Lucida Bright, serif"><br>Meta Tags have been one of the  most basic elements of SEO. It is a must to know for every SEO practitioner. Meta descriptions are HTML attributes that provide concise summaries of webpages. They commonly appear underneath the blue clickable links in a search engine results page (SERP). Meta tags are located inside your html’s head area.</p>
  </li><br>

  <li><b>Image</b>
  <p style="font-family: Lucida Bright, serif"><br>You include images in your articles to get people to read your text. Well-chosen images also strengthen your message. You shouldn’t forget to give those images good alt attributes: alt tags strengthen the message towards search engine spiders and improve the accessibility of your website.The purpose of alt attributes is to provide a description of the contents of an image file. One of the most cited uses of alt attributes is to provide text for visitors who can't see images in their browsers.</p></li><br>

  <li><b>No Followed Link</b>
  <p style="font-family: Lucida Bright, serif"><br>The rel nofollow tag (rel=”nofollow”) was added by the search engines to indicate “don’t count this link as a point in the page’s favor to which it is pointing“. So, the nofollow links implies that the destination of that hyperlink should not be followed and it just don’t provide link juice. It will never boosts your Page Rank and it will not help another page to boost its ranking in Search Engines.</p></li><br>

</ul>

<h2 style="text-align: left;"><br>SEO's hyperlinking best practices</h2><br>
<p style="font-family: Lucida Bright, serif">Internal links are most useful for establishing site architecture and spreading link juice (URLs are also essential). For this reason, this section is about building an SEO-friendly site architecture with internal links.

On an individual page, search engines need to see content in order to list pages in their massive keyword–based indices. They also need to have access to a crawlable link structure—a structure that lets spiders browse the pathways of a website—in order to find all of the pages on a website. (To get a peek into what your site's link structure looks like, try running your site through Open Site Explorer.) Hundreds of thousands of sites make the critical mistake of hiding or burying their main link navigation in ways that search engines cannot access. This hinders their ability to get pages listed in the search engines' indices. </p>

<h2 style="text-align: left;"><br>Backlinks</h2><br>
<p style="font-family: Lucida Bright, serif">A “backlink” is one of the most used words in the world of search engine optimization (SEO).<br>
Backlinks are incoming links to a webpage. When a webpage links to any other page, it’s called a backlink. In the past, backlinks were the major metric for the ranking of a webpage. A page with a lot of backlinks tended to rank higher on all major search engines, including Google. This is still true to a large extent. It is important to have backlinks from quality sites, and those backlinks should be contextual.</p>


 </div>
 </div>

<footer class="text-center" style="background-color: #e6e6e6;  padding: 5px;">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Copyright &copy; 2017 IT Elective · All Rights Reserved.</p>
</footer>

</body>
</html>